/* :root {--tabs-color-label-active: #130654 !important} */

/* details.dropdown .summary-title {
    background-color: #6c757d;
    color: #fff;
} */

/* summary.summary-title.card-header:hover{
    background-color: #130654;
    color: #fff;
} */